.ipynb_checkpoints/
gui/
own/
speakers_short/
test_data/
train_data/
emo_long/
emo_sixseconds/
zenodo_long/
zenodo_sixseconds/
own_sixseconds/
caer_database/
zenodo_database/
logs/
models/
audiodata/
validation_data/
__pycache__/
npy_data/
temp/
cache/
